streamlit==1.45.1

langchain==0.3.25
langchain-community==0.3.24
langchain-google-genai==2.1.5

chromadb==1.0.12

sentence-transformers==4.1.0

pypdf==5.6.0

python-dotenv==1.1.0

tiktoken==0.9.0

google-generativeai==0.8.5